:root {
}
.principal {
  width: 100%;
  height: 100vh;
}
div {
  margin: 10px;
  display: grid;
  place-content: center;
}
div.numero {
  display: flex;
  align-items: center;
  margin: 40px auto;
}
section {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
}
img.img {
  width: 250px;
}
.divimg {
  width: auto;
}
.indicativo {
  outline: none;
  width: 50px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 1.5em;
  padding: 0.3em;
  -webkit-box-shadow: 10px 10px 5px 0px #23c483;
-moz-box-shadow: 10px 10px 5px 0px #23c483;
box-shadow: 10px 10px 5px 0px #23c483;
  transition: all 0.5s;
}
.numerovalue {
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.3em;
  color: black;
  font-size: 1.5em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px #23c483;
box-shadow: 10px 10px 5px 0px #23c483;
  transition: all 0.5s;
}
.img-icon-whatsapp{
  width: 1em;
}
.enviar {
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 550;
  color: #000;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px #23c483;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.enviar:hover {
  background-color: #23c483;
  border: 2px solid #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.enviar:active {
  transform: translateY(-1px);
}
.enviar img{
  width: 20px;
  margin: 0 5px;
}
.link {
  text-decoration: none;
  color: #367e18;
}
p {
  display: grid;
  place-content: center;
  margin-top: 5em;
}
@media (max-width: 600px) {
  .divimg {
    width: 320px;
    margin-bottom: 3em;
  }
  img.img {
    width: 150px;
  }
  .enviar {
    font-size: 1em;
  }
  .numerovalue {
    font-size: 1em;
  }
  .indicativo {
    font-size: 1em;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* nolger.com  */
